#loginBtn {
  background-color: #007ACC;
  color: white;
  border-radius: 5px;
}

#loginBtn:hover {
  background-color: #005F99;
}

#quitBtn {
  background-color: #D32F2F;
  color: white;
  border-radius: 5px;
}

#quitBtn:hover {
  background-color: #B71C1C;
}